body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; 
  background-color: #f8faff;

}

.satranc365{
  width: 100%;
  min-width: 1500px;
  height: 80px;
  background-color: white;
  right: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #F2F5FB;
}

.logoStyle{
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 30px;
}

.comingSoon{
  display: flex !important;
  align-content: stretch;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  height: 100%;
  padding-top: 190px;
}

.welcomeText{
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #0C2469;
  margin-bottom: 3%;
  line-height: 45px;
  letter-spacing: 0.3px;
}

.subText {
  width: 100%;
  max-width: 600px;
  font-size: 15px !important;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.18px;
  text-align: left;
  color: #7185a3;
  font-family: 'Roboto';
  margin-bottom: 3%;
  margin-top: 1%;
}

.availableDevices{
  display: flex !important;
  max-width: 700px;
  max-height: 388px;
  padding: 200px 0px 0px 0px;
}

.row {
  display: flex !important;
  padding: 20px;
}

.column {
  display: grid;
  justify-items: start;
  flex: 50%;
}

.flipper {
  color: white;
  display: flex !important;
  height: 1.7em;
  max-width: 600px;
  width: 88%;
  height: 100%;
  max-height: 167px;
  font-size: 80px !important;
  justify-content: center;
  margin: 30px 0px 0px 54px;
}

.flipper.flipper-invisible {
  font-size: 0px !important;
}

.flipper-group {
  display: block;
  position: relative;
  white-space: nowrap;
  float: left;
  margin: 0;
}

.flipper-group label {
  position: absolute;
  font-family: 'Roboto' !important;
  font-size: 12px;
  top: 100%;
  line-height: 1em;
  letter-spacing: 0.16px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  font-weight: normal !important;
  color: #94A3BA;
  padding-top: .9em;
  margin-bottom: .5em !important
}

.flipper-digit {
  white-space: nowrap;
  position: relative;
  padding: 0;
  margin: 5px;
  display: inline-block;
  height: 90%;
  max-height: 1.2em;
  width: 100%;
  max-width: 105px;
  overflow-y: hidden;
  font-size: 133px;
  box-shadow: 0px 6px 0px 0px #0018af;
  border-radius: 10px 10px 10px 10px;
  font-weight: 600;
}

.flipper-digit span {
  font-size: 25%;
}

.flipper-delimiter {
  color: #f8faff;
  white-space: nowrap;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  line-height: 1em;
  font-family: 'Roboto' !important;
  min-width: .1em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.digit-face {
  opacity: 0.6 ;
  font-family: 'Roboto' !important;
  display: block;
  visibility: hidden;
  position: relative;
  border-radius: 0.1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em !important;
  box-sizing: border-box;
  text-align: center;
}

.digit-next {
  font-family: 'Roboto' !important;
  border-radius: 0.1em;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  height: 1.2em;
  background: #1634ED;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  box-sizing: content-box;
  text-align: center !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.digit-top {
  font-family: 'Roboto';
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  background: #1634ED;
  color: hsl(0deg 0% 100% / 60%);
  padding-bottom: 0;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background 0s linear, -webkit-transform 0s linear;
  transition: transform 0s linear, background 0s linear;
  transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
  -webkit-transform-origin: 0 0.6em 0 !important;
  transform-origin: 0 0.6em 0 !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  z-index: 20;
}

.digit-top.r {
  font-family: 'Roboto';
  transition: background 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, background 0.2s linear;
  transition: transform 0.2s linear, background 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  background: #203efa;
}

.digit-top2 {
  opacity: 0.6 ;
  font-family: 'Roboto';
  visibility: hidden;
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  background: #001ed0;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  line-height: 0px!important;
  top: 50% !important;
  bottom: auto !important;
  padding-top: 0;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  overflow: hidden;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background 0s linear, -webkit-transform 0s linear;
  transition: transform 0s linear, background 0s linear;
  transition: transform 0s linear, background 0s linear, -webkit-transform 0s linear;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  -webkit-transform-origin: 0 0 0 !important;
  transform-origin: 0 0 0 !important;
  z-index: 20;
}

.digit-top2.r {
  opacity: 0.6 ;
  font-family: 'Roboto';
  visibility: visible;
  transition: background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
  transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s;
  transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  background: #203efa;
}

.digit-bottom {
  font-family: 'Roboto';
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  height: 48%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  line-height: 0em;
  padding-top: 0;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  box-sizing: border-box;
  text-align: center;
  transition: none;
}

.digit-bottom.r {
  font-family: 'Roboto';
  transition: background 0.2s linear;  
  background: #203EFA;
}

.flipper-digit:after {
  content: "";
  position: absolute;
  height: 7px;
  top: 49%;
  display: block;
  z-index: 30;
  left: 0;
  right: 0;
  background-image: radial-gradient(circle, #0018AF 87%, #fff 13%)   
}

.flipper-dark {
  color: #fff;
}

.flipper-dark .flipper-delimiter {
  color: #333;
}

.flipper-dark .digit-next {
  background: #333;
}

.flipper-dark .digit-top {
  background: #333;
}

.flipper-dark .digit-top.r {
  background: black;
}

.flipper-dark .digit-top2 {
  background: black;
}

.flipper-dark .digit-top2.r {
  background: #333;
}

.flipper-dark .digit-bottom {
  background: #333;
}

.flipper-dark-labels .flipper-group label {
  color: #333;
}
@media only screen and (max-width: 800px) {
  
  body {
    overflow-x: hidden;
    position: relative;
}

#app{
  overflow-x: hidden;
} 


.satranc365 {
  width: 100%;
  min-width: 100px;
  background-color: white;
  border-bottom: 3px solid #F2F5FB;
}

.availableDevices {
  position: absolute;
  display: flex;
  justify-content: center !important;
  max-width: 740px;
  max-height: 380px;
  width: 78%;
  padding: auto;
  padding: 105px 30px 40px 38px;
}

.comingSoon {
  margin-top: 108px;
  display: flex;
}

.flipper {
  margin: 0;
  padding-top: 7px;
}

.flipper-delimiter {
  color: #f8faff;
  white-space: nowrap;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  line-height: 1em;
  font-family: 'Roboto' !important;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.flipper-digit {
  white-space: nowrap;
  position: inherit;
  margin: 7px;
  display: inline-block;
  height: 90%;
  max-width: 56px;
  overflow-y: hidden;
  font-size: 66px;
  box-shadow: 0px 6px 0px 0px #0018af;
  border-radius: 10px 10px 10px 10px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 0px;
}

.welcomeText {
  width: 85%;
  display: flex;
  justify-content: center !important;
  text-align: center;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: bold;
  line-height: 27px;
}

.subText {
  text-align: center;
  display: flex;
  justify-content: center !important;
  letter-spacing: 0.20px;
  font-size: 15px !important;
  line-height: 30px;
  margin: auto;
  width: 77%;
  padding-top: 17px;
}

.flipper-group label {
  position: absolute;
  font-family: 'Roboto' !important;
  font-size: 14px;
  padding-top: 0px;
}

#column2{
  display: grid;
  justify-items: center;
}
} 